{
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	@trpc path_regexp ^/trpc(/|$)
	reverse_proxy @trpc localhost:2021

	@admin path_regexp ^/admin(/|$)
	reverse_proxy @admin localhost:4000

	reverse_proxy localhost:3000
}
