# Environment setting, usually 'development', 'staging', or 'production'
NODE_ENV=developement

# Cookie settings
# Secret key for signing cookies. Use a strong, random string.
COOKIE_SECRET=USE_A_STRONGER_PASSWORD

# Name for the session cookie
COOKIE_NAME=

# Email SMTP configuration

# Hostname for the SMTP server
SMTP_HOST=smtp.mailtrap.io
# Username for the SMTP server
SMTP_USER=your_smtp_server_user

# Password for the SMTP server
SMTP_PASSWORD=your_smtp_server_password

# Enable TLS encryption, set to 'true' if required
SMTP_TLS=false

# Port number for the SMTP server
SMTP_PORT=465

# URLs for services
# Connection URL for the Postgres database
DATABASE_URL=
# Connection URL for the Redis server
REDIS_URL=

STORAGE_URL=http://localhost:9000
STORAGE_BUCKET=celluloid
STORAGE_ACCESS_KEY=access-token-sample
STORAGE_SECRET_KEY=secret-token-sample
