name: Docker Build
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Docker tag"
        required: true
        default: "latest"

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Declare some variables
        id: vars
        shell: bash
        run: echo "{sha_short}={$(git rev-parse --short HEAD)}" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.event.inputs.tag }}, ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.sha_short }}, ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.branch }}
          image: ${{ github.repository }}
          buildArgs: COMMIT=${{ steps.vars.outputs.sha_short }}
          registry: ghcr.io
