name: Docker Build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "v*"
    branches:
      - staging
  release:
    types: [published]
  workflow_dispatch:

env:
  NEXT_PUBLIC_POSTHOG_KEY: phc_A7cjBqRMmQE4Ursk2IdMFPaBLcxY2cTvouQQyDMkCvh
  NEXT_PUBLIC_KNOCK_API_KEY: pk_tNNkD19OAJjRRYtcPzpzFRquKSK3uPNDYEapCc3SSNE
  NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID: 27641bef-8e3b-438b-8060-d25446dffbe5

jobs:
  build-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.tag_name || github.ref_name }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/celluloid-web
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            # Add "staging" tag if version contains "-alpha"
            type=raw,value=staging,enable=${{ contains(github.ref_name, '-alpha') || contains(github.event.release.tag_name, '-alpha') || github.ref_name == 'staging' }}
          labels: |
            org.opencontainers.image.title=${{ github.repository }}
            org.opencontainers.image.description=Celluloid
            org.opencontainers.image.vendor=${{ github.repository_owner }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set stage
        id: stage
        run: |
          STAGE="${{ (contains(github.ref_name, '-alpha') || contains(github.event.release.tag_name, '-alpha') || github.ref_name == 'staging') && 'staging' || 'production' }}"
          echo "value=$STAGE" >> $GITHUB_OUTPUT

      - name: Build containers
        uses: docker/bake-action@v5
        env:
          NEXT_PUBLIC_POSTHOG_KEY: ${{ steps.stage.outputs.value == 'production' && env.NEXT_PUBLIC_POSTHOG_KEY || '' }}
          NEXT_PUBLIC_KNOCK_API_KEY: ${{ steps.stage.outputs.value == 'production' && env.NEXT_PUBLIC_KNOCK_API_KEY || '' }}
          NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID: ${{ steps.stage.outputs.value == 'production' && env.NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID || '' }}
          STAGE: ${{ steps.stage.outputs.value }}
        with:
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          push: true
          targets: web,worker
          set: |
            *.args.VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            *.args.REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
