---
  name: Release
  on:
    push:
      branches:
        - main
        - staging
    workflow_dispatch:

  jobs:
    release:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Git config
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "celluloid-camp[bot]@users.noreply.github.com"

        - name: Install pnpm
          uses: pnpm/action-setup@v3
          with:
            run_install: |
              - args: [--frozen-lockfile]

        - name: Release
          run: npx release-it ${{ github.ref_name == 'staging' && '--preReleaseId=rc --preReleaseName=rc' || '' }}
          env:
            GITHUB_TOKEN: ${{secrets.PROJECT_GITHUB_TOKEN}}
