---
  name: Release
  on:
    push:
      branches:
        - main
        - staging
    workflow_dispatch:

  jobs:
    release:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Running release automation
          uses: juancarlosjr97/release-it-containerized@0.7.74
          with:
            plugins_list: "@release-it/conventional-changelog,release-it-pnpm"
            command: ${{ github.ref_name == 'staging' && '--preReleaseId=rc --preReleaseName=rc' || '' }}
            github_token: ${{ secrets.PROJECT_GITHUB_TOKEN }}

